<div ng-controller="sideCtrl">
    <div class="col-xs-12" ng-class="{'hide': type !== 'a'}">A
        <input type="text" class="form-control form-group" placeholder="Image Link">
        <input type="text" class="form-control form-group" placeholder="Title">
    </div>

    <div class="col-xs-12" ng-class="{'hide': type !== 'b'}">B
        <input type="text" class="form-control form-group" placeholder="Image Link">
        <input type="text" class="form-control form-group" placeholder="Title">
    </div>

    <div class="col-xs-12" ng-class="{'hide': type !== 'c'}">C
        <input type="text" class="form-control form-group" placeholder="Image Link">
        <input type="text" class="form-control form-group" placeholder="Title">
    </div>
</div>